name: Build Three Tier Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      # ---------------- WEB TIER ----------------
      - name: Build Web Tier
        uses: docker/build-push-action@v5
        with:
          context: ./web-tier
          file: ./web-tier/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/web-tier:latest

      # ---------------- APP TIER ----------------
      - name: Build App Tier
        uses: docker/build-push-action@v5
        with:
          context: ./app-tier
          file: ./app-tier/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/app-tier:latest

      # ---------------- DB TIER ----------------
      - name: Build DB Tier
        uses: docker/build-push-action@v5
        with:
          context: ./db-tier
          file: ./db-tier/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/db-tier:latest
